name: Go CI

on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "**"
    paths-ignore:
      - "**/*.md"
      - "docs/**"
      - ".github/**"
      - ".markdownlint.json"
      - ".gitignore"
      - ".prettierrc"
      - "LICENSE"
      - "Makefile"
      - ".goreleaser.yaml"
      - "mise.toml"
      - "*.spec"

permissions:
  contents: read

jobs:
  test:
    name: Run Unit Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.25.5

      - name: Run Unit Tests
        run: go test ./... -v

  lint:
    name: Check linting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: 1.25.5
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.8

  build:
    name: Cross-Platform Build Check
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.24.4

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          version: "~> v2"
          args: release --clean --skip=publish --skip=validate --snapshot
